# --- 1. ข้อมูลขนาดใหญ่ (Important!) ---
*.db
*.csv
*.npy
*.npz
*.pkl

# --- 2. โฟลเดอร์เก็บข้อมูล ---
processed/
data/

# --- 3. ความลับและ Config (Security) ---
rclone.conf
.env

# --- 4. เครื่องมือและไฟล์ขยะ ---
rclone.exe
rclone
rclone-*.zip
rclone-*/
.ipynb_checkpoints/
__pycache__/
*.pyc

# --- 5. ไฟล์ System ---
.DS_Store
.vscode/